<div>
    <h3>Dynamic accordion Component</h3>
    <hr/> 
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let item of accordionData; let i = index">
      <h2 class="accordion-header" id="heading{{ i }}">
        <button
          class="accordion-button"
          [ngClass]="{ 'collapsed': i !== 0 }"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#' + item.id"
          [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
          [attr.aria-controls]="item.id"
        >
          {{ item.title }}
        </button>
      </h2>
      <div
        [id]="item.id"
        class="accordion-collapse collapse"
        [ngClass]="{ 'show': i === 0 }"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>{{ item.content }}</strong>
        </div>
      </div>
    </div>
  </div>
  